@import "../../styles/variables";

#forecast {
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	background-color: #f0f1f4;

	.main-container {
		height: 90%;
		width: 90%;
		display: flex;
		.hidden {
			display: none !important;
		}
		section {
			flex: 1;
			display: flex;
			flex-direction: column;
			font-family: $font-montserrat;

			.upside {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;
				.title {
					h5 {
						padding: 0rem 0.4rem;
						font-size: 2.3rem;
						color: black;
						font-weight: 300;
					}
				}
				.day-filter {
					display: flex;
					justify-content: center;
					align-items: center;
					background-color: #393737;
					border-radius: 40rem;
					// margin: 0rem 0rem;
					// margin-top: 0.8rem;
					// margin-bottom: 1.2rem;
					font-size: 0.8rem;
					padding: 3px;
					button {
						cursor: pointer;
						padding: 0.2rem 1rem;
						color: #d9d9d9;
						background-color: #393737;
						border-radius: 10rem;
						border: none;
					}
					.selectedBtn {
						background-color: #d9d9d9;
						border-radius: 40rem;
						color: #393737;
					}
				}
			}
			.forecastbyday {
				flex: 1;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
				gap: clamp(0.5rem, 0.75rem, 1rem);
				padding-top: 2rem;
				&.ten {
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					gap: 2px;
					width: 100%;
					li:first-child {
						width: 100%;
						flex-direction: row;
						font-size: clamp(0.8rem, 2vw, 2.5rem);
						display: flex;

						.left-side-card {
							height: 100%;
							.weather-icon {
								i {
									font-size: clamp(1rem, 1.7vw, 2rem);
									margin: 1rem;
									margin-right: 0;
								}
							}

							.temp-box.min {
								font-size: clamp(0.8rem, 1.3vw, 1.5rem);
							}
							.temp-box.max {
								font-size: clamp(1.5rem, 2.3vw, 2.5rem);
							}
						}
						.right-side-card {
							height: 100%;
							justify-content: flex-end;
							padding: 10px;
							.date-box {
								.month {
									font-size: clamp(0.8rem, 1.5vw, 1.5rem);
								}
								.day-week {
									font-size: clamp(0.8rem, 1.5vw, 1.5rem);
								}
							}
						}
					}
					.card {
						flex-direction: column-reverse;
						width: 32%;
						height: 22%;
						font-size: 1rem;
						padding: 4px;
						display: flex;
						justify-content: center;
						gap: 3px;
						.right-side-card {
							width: 100%;
							height: 50%;
							display: flex;
							justify-content: center;
							align-items: center;
							flex: 1;
							.date-box {
								.month {
									font-size: clamp(0.3rem, 1vw, 0.7rem);
								}
								.day-week {
									font-size: clamp(0.3rem, 1vw, 0.7rem);
								}
							}
						}
						.left-side-card {
							display: flex;
							height: 50%;
							justify-content: space-evenly;
							align-items: center;
              padding-right: .5rem;
							span {
								i {
                  padding-right: 1rem;
                  font-size: clamp(1rem, 1.3vw, 1.5rem);
                }
							}
							.temp-box.min {
								font-size: clamp(.5rem, .9vw, 0.875rem);
							}
							.temp-box.max {
                font-size: clamp(1rem, 1.3vw, 1.5rem);
							}
						}
					}
				}
				.card {
					font-size: clamp(0.8rem, 2vw, 2.5rem);

					padding: 16px;
					background-color: white;
					display: flex;
					justify-content: space-between;
					align-items: center;
					border-radius: 24px;
					gap: 1rem;
					width: 100%;
					height: clamp(10%, 10vh, 28%);

					transition: all 0.3s ease-in-out;
					&:hover {
						border: 1px solid black;
						box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
					}
					.left-side-card {
						.weather-icon {
							i {
								font-size: clamp(1rem, 1.7vw, 2rem);
								margin: 1rem;
								margin-right: 0;
							}
						}
						.temp-box.max {
							font-size: clamp(1.5rem, 2.5vw, 2.5rem);
						}

						.temp-box.min {
							font-size: clamp(0.8rem, 1.3vw, 1.5rem);
						}
					}
					.right-side-card {
						// display: flex;
						// justify-content: flex-end;
						.date-box {
							.day-number {
								font-weight: 600;
							}
							.month {
								font-size: clamp(0.8rem, 1.3vw, 1.5rem);
							}
							.day-week {
								font-size: clamp(0.8rem, 1.3vw, 1.5rem);
							}
						}
					}
				}
			}
		}
	}
}
