.darkmode-btn {
	background: green;
	width: 100%;
	height: 100%;
	border-radius: 2rem;
	position: relative;

	.cycle {
		// width: 50%;
		height: 100%;
		aspect-ratio: 1;
		transform: scale(0.8);
		border-radius: 50%;
		background: yellow;

		position: absolute;
		top: 0;
		left: 0;
		// transform: translate(30%, -50%)

    transition: .5s;
	}

	&.active {
		.cycle {
			left: 100%;
			transform: translateX(-100%) scale(0.8);
		}
	}
}
