$primary-color-light: #86C5FF;
$secondary-color-light: #d9d9d9;
$secondary-color-light-50: rgba(217, 217, 217, 50%);
$text-color-light: #393737;
$black-text-color-light: #000;
$background-color-light: #fff;
$background-color-light-90: rgba(255, 255, 255, 90%);

$primary-color-dark: #9b59b6;
$secondary-color-dark: #f39c12;
$text-color-dark: #fff;
$background-color-dark: #333;

// ! Font weight

$font-montserrat: 'Montserrat', sans-serif;

$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: '700';
