$primary-color-light: #86C5FF;
$secondary-color-light: #D9D9D9;
$text-color-light: #333;
$background-color-light: #fff;

$primary-color-dark: #9b59b6;
$secondary-color-dark: #f39c12;
$text-color-dark: #fff;
$background-color-dark: #333;

