$primary-color-light: #f97f2a;
$secondary-color-light: rgba(255, 255, 255);
$secondary-color-light-50: rgba(255, 255, 255, 50%);
$text-color-light: #393737;
$black-text-color-light: #000;
$background-color-light: #e1e3e8;
$background-color-light-90: rgba(255, 255, 255, 90%);

$primary-color-dark: #f97f2a;
$secondary-color-dark: rgba(255, 255, 255, 20%);
$secondary-color-dark-50: 393737;
$text-color-dark: #ececec;
$white-text-color-dark: #fff;
$background-color-dark: #393737;
$background-color-dark-90: rgba(255, 255, 255, 90%);

$text-color: #393737; // #d9d9d9
$background-color: #d9d9d9;
$card-background-color: #fff; //


// ! Font weight

$font-montserrat: 'Montserrat', sans-serif;

$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
