@import "../../styles/variables";
#navbar {
  padding-top: 0px;
  .main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-top: 40%;
    gap: 4rem;
    align-items: center;
    .app {
      background-color: #f97f2a;
      border-radius: 30%;
      filter: drop-shadow(0px 4px 4px #393737);
    }
    .app,
    .marker,
    .map {
      width: 60px;
      height: 60px;
      padding-top: 10px;
      text-align: center;
      font-size: 2.5rem;
      &:hover {
        transform: scale(1.1);
      }
    }
    .coffe {
      order: 2;
      text-align: center;
      justify-self: flex-end;
      margin-top: auto;
      margin-bottom: 40%;
      color: #393737;
      font-size: 2.7rem;
      transition: 0.2s;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: min-content;
      .buy {
        
        order: 2;
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
      }
      &:hover {
        transform: scale(1.1);
      }
    }
    
    .app,
    .marker,
    .map {
      order: 1;
    }
  }
}

@media (max-width: 768px) {
  .app,
  .coffe,
  .map,
  .marker,
  .coffe {
    font-size: 1.75rem;
  }
}
